.container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  background: #eeeeee;
}

.header {
  display: flex;
  padding: 30px;
  color: white;
  background-image: linear-gradient(45deg, #2f4c58 25%, transparent 25%), linear-gradient(-45deg, #2f4c58 25%, transparent 25%), linear-gradient(135deg, #2f4c58 25%, transparent 25%), linear-gradient(-135deg, #2f4c58 25%, transparent 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-color: #111b1e;
  box-shadow: 0 0 3px 0 #2c3e50;
}

.mainColumn {
  display: flex;
}

.skills {
  background-color: #e4dbd9;
  width: 101%;
}

.experience {
  margin-bottom: 0;
}

.info {
  margin-left: 30px;
  margin-bottom: -20px;
}

.photo img {
  border-radius: 5px;
}

.header a {
  color: white;
}

.info ul {
  padding: 0;
}

.info li {
  list-style: none;
}

.skills, .experience {
  padding-left: 30px;
  padding-right: 20px;
}

.h1 {
  margin-top: -8px;
  margin-bottom: 43px;
}

.h2 {
  border-bottom: solid #6e93d6 2px;
  padding-bottom: 8px;
  color: #34495e;
}

.h3 {
  color: #46596C;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: -12px;
}

.fa {
  color: #70A9A1;
  font-size: 20px;
  padding-right: 15px;
}

.fa-phone {
  font-size: 23px;
}

.personal li {
  padding: 1% 0;
}

.personal ul, .column {
  padding-left: 0;
}

.experience ul {
  padding-left: 60px;
}

.skills svg, .info svg {
  padding-right: 10px;
}

.column {
  padding-right: 10px;
  flex: 33%;
  line-height: 25px;
}

.column-1 {
  margin-left: -20px;
}

.footer {
  color: white;
  background-image: linear-gradient(45deg, #2f4c58 25%, transparent 25%), linear-gradient(-45deg, #2f4c58 25%, transparent 25%), linear-gradient(135deg, #2f4c58 25%, transparent 25%), linear-gradient(-135deg, #2f4c58 25%, transparent 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-color: #111b1e;
  box-shadow: 0 0 5px 0 black;
}

.copyright {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.experience a, .column a {
  color: #46596C;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 99%;
  }
}

@media screen and (max-width: 455px) {
  .h1 {
    font-size: 22px;
    margin-bottom: 0;
  }
  .h2 {
    font-size: 18px;
  }
  .h3 {
    font-size: 16px;
  }
  .contacts {
    font-size: 14px;
    margin-top: 5%;
  }
  .experience ul {
    padding-left: 15px;
  }
  .header {
    padding: 5% 4%;
  }
  .photo img {
    width: 110px;
    height: 110px;
  }
  .info {
    margin-left: 5%;
  }
  .personal ul, .motivation ul {
    padding-left: 15px;
  }
  .skills {
    background-color: #eeeeee;
    width: 100%;
    order: 2;
  }
  .mainColumn {
    flex-direction: column;
    flex-flow: wrap;
  }
}